<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <link href="/css/style.css" rel="stylesheet">

  <!-- MathJax -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']]
      }
    };
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <p><a href="diegotorres.github.io/index.html" style="
    display:inline-block;
    padding:8px 14px;
    background:#eee;
    color:#333;
    text-decoration:none;
    border-radius:6px;
    border:1px solid #ccc;
  ">← Back to Home</a></p>
  {{ content }}
</body>
</html>
